header{
    color: white;
    background-color: #f2b978;
    padding: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;flex-direction: column;
    min-height: 100%;
 }
nav ul {
    list-style-type: none;
    padding-top: 12px; padding-bottom: 12px; padding-left: 0px;padding-right: 0px;
    background-color: #c3dcf3;
    margin: 0;
 }
nav ul li {
    display: inline;
    padding: 12px 16px;
 }
nav ul li a {
    text-decoration: none;
    color: #222f2f;
 }
nav ul li:hover {
    background-color: #eb8920;
 }
li.currentPage {
    background-color: #faebd7;
 }
main{
    flex: 1;
    padding: 20px;
 }
.section-header {
    text-align: center;
}
.featured-drinks {
    display: flex; justify-content: center;
}
.drink-container {
    display: flex; 
}
.drink {
    margin: 0px 10px;
    text-align: center;
}
.drink img {
    width: 200px; height: 200px;
}
footer {
    background-color: #f2b978;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
}
